<md-table #table [dataSource]="productsDataSource" *ngIf="productsDataSource">
  <ng-container cdkColumnDef="name">
    <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
    <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
  </ng-container>
  <ng-container cdkColumnDef="color">
    <md-header-cell *cdkHeaderCellDef> Color </md-header-cell>
    <md-cell *cdkCellDef="let row"> {{row.color}} </md-cell>
  </ng-container>
  <ng-container cdkColumnDef="type">
    <md-header-cell *cdkHeaderCellDef> Type </md-header-cell>
    <md-cell *cdkCellDef="let row"> {{row.type}} </md-cell>
  </ng-container>
  <ng-container cdkColumnDef="price">
    <md-header-cell *cdkHeaderCellDef> Price </md-header-cell>
    <md-cell *cdkCellDef="let row"> {{row.price}} </md-cell>
  </ng-container>
  <ng-container cdkColumnDef="actions">
    <md-header-cell *cdkHeaderCellDef> Actions </md-header-cell>
    <md-cell class="table-actions" *cdkCellDef="let row">
      <a routerLink="/product-detail/{{row.id}}">
        <i class="material-icons">edit</i>
      </a>
      <i class="material-icons" (click)="onClickDelete.emit(row)">delete</i>
    </md-cell>
  </ng-container>
  <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>
<md-paginator #paginator
  [length]="productsDatabase.data.length"
  [pageIndex]="0"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]"></md-paginator>
